@model Hala.Models.Domain.Attendance

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col">
    <div class="row p-md-4 pt-3 shadow m-md-4">
        <div class="col-12 d-inline-flex mb-3">
            <h1 class="header me-4 me-md-5 mt-1">Attendance History</h1>
        </div>
        <div class="col">
            <form method="post" asp-controller="Home" asp-action="Attendance">
                <h4>Choose Date</h4>
                <div class="input-group mb-3">
                    <input type="date" class="form-control Search-input" asp-for="Date">
                    <button class="btn btn-secondary" type="submit" id="button-addon2">Search</button>
                </div>
            </form>

            @if(Model != null)
            {

                <div class="card mt-2 mb-4 border border-2 border-secondary" style="background-color: #e9e9e9; border-radius:15px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Date</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Date.Day - @Model.Date.Month - @Model.Date.Year</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Checked In At</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.CheckedIn_at</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Checked Out At</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.CheckedOut_at</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Status</p>
                            </div>
                            <div class="col-sm-9">
                                @if (Model.Status == "PRN")
                                {
                                    <p class="text-muted mb-0">Checked-in but didn't Check-out</p>
                                }
                                else if (Model.Status == "LAN")
                                {
                                    <p class="text-muted mb-0">Checked-in late and didn’t check-out</p>
                                }
                                else if (Model.Status == "PRV")
                                {
                                    <p class="text-muted mb-0">Checked-in on time and checked-out on time</p>
                                }
                                else if (Model.Status == "LAV")
                                {
                                    <p class="text-muted mb-0">Checked-in late and checked-out on time</p>
                                }
                                else if (Model.Status == "EAV")
                                {
                                    <p class="text-muted mb-0">Checked-in on time and checked-out early</p>
                                }
                                else if (Model.Status == "LL")
                                {
                                    <p class="text-muted mb-0">Checked-in late and checked-out early</p>
                                }
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Early Out Reason</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.EarlyCheckedOut_reason</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Late In Reason</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.LateCheckedIn_reason</p>
                            </div>
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div class="card text-center mx-auto border border-warning" style="width: 18rem; background-color: #f0d7c4;">
                    <div class="card-body">
                        <i class="fas fa-regular fa-exclamation-circle mb-2 " style="color: #d1d100; font-size: 3rem;"></i>
                        <h4 class="card-text">Important Note</h4>
                        <p class="card-text">If you search for a specific day and found nothing it means you are absent on that day.</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>